//Fontes
$fontPrincipal: Roboto, sans-serif;

//Cores
$corDeFundo: #f5f6fa;
$corDoMenu: #182C61;
$corLetrasMenu: #fff;
$corButtonPrimaria: #44bd32;
$corButtonSecundaria: #4cd137;

//Breakpoints
$mobile: 797px;
$tablet: 1023px;